@charset "UTF-8";

#wrapper {
	width: 100%;
	height: auto;
}

.bodyWrapper {
	width: 100%;
	height: auto;
	float: left;
	background-color: #fcfcf0;
}

/*----------------네비게이션 css-------------------*/
.helpCenterIndexNavi {
	width: 100%;
	height: 37px;
	background-color: #e3e3da;
}

.helpCenterIndexNavi a {
	color: black;
	text-decoration: none;
	display: block;
}

.helpCenterIndexMenuDiv {
	width: 1052px;
	height: 37px;
	margin: 0 auto;
}

.helpCenterIndexImageDiv {
	float: left;
	width: 20px;
	height: 18px;
	margin-top: 11px;
}

.helpCenterIndexImageDiv img {
	width: 17px;
	height: 15px;
}

.helpCenterIndexNaviSecondDiv {
	float: left;
	width: 90px;
	height: 22px;
	margin-top: 10px;
	margin-left: 15px;
	font-size: 13px;
}

.helpCenterIndexNaviThirdDiv {
	float: left;
	width: 100px;
	height: 22px;
	margin-top: 10px;
	font-size: 13px;
}


/* --------------컨텐츠------------------- */
.content {
	width: 1052px;
	margin: 0 auto;
	box-sizing: border-box;
}

/* 왼쪽 사이드바 */
.col-aside {
	padding-top: 11px;
	float: left;
	width: 160px;
	word-break: break-all;
}

.side_menu>ul {
	padding: 0;
	margin: 0;
}

.side_menu>ul>li {
	padding: 0;
	border-top: 1px solid #000000;
	line-height: 100%;
	display: list-item;
	text-align: -webkit-match-parent;
	display: list-item;
}

.side_menu>ul>li>a {
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	width: 160px;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	color: black;
}

.side_menu>ul>li>a:hover {
	background-color: #f9ac1e;
}

/* 디테일부분 */
.col-detail {
	float: left;
	width: 892px;
	box-sizing: border-box;
	padding-bottom: 30px;
	padding-top: 10px;
}

.customer_top {
	padding: 0;
	margin-left: 25px;
}

h2.title {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	margin-bottom: 0;
}

p.subTitle {
	font-size: 14px;
	margin: 3px;
}

.board_view_area {
	padding: 0;
	margin-top: 30px;
	margin-left: 25px;
	width: 840px;
}

table.board_view_table {
	font-size: 14px;
}

thead {
	font-size: 16px;
	font-weight: bold;
}

tr {
	height: 35px;
}

td {
	padding: 10 10 10 10;
}

tbody>td {
	padding-top: 20;
}

.customer_btn {
	padding-top: 10px;
	padding-left: 24px;
	margin: 0;
	text-align: right;
	width: 840px;
	padding-bottom: 20px;
}

.boardView_List {
	margin-left: 25px;
	width: 840px;
	overflow: hidden;
	border-top: solid 1px #b8b6aa;
	border-bottom: solid 1px #b8b6aa;
	font-size: 13px;
}

.boardView_List a {
	color: black;
}

.boardView_List ul {
	margin: 0;
	padding: 0;
}

.view_area {
    padding: 35px 13px;
    line-height: 24px;
}

.view_area pre {
    width: 799px;
    white-space: pre-wrap;
    padding: 0;
    margin: 0;
}

ul.pre_list>li {
	float: left;
	padding-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.pre_list {
	overflow: hidden;
}

li.stit {
	float: left;
}

li.name {
	float: left;
}

.pre_list .check_writ_area {
	float: right;
}

.next_list .check_writ_area {
	float: right;
}

ul.next_list {
	overflow: hidden;
	border-top: solid 1px #b8b6aa;
}

ul.next_list>li {
	float: left;
	padding-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.next_list a {
    position: absolute;
    width: 640px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 17px;
}