@charset "UTF-8";

#bodyWrapper{
   width:100%;
   height: 1350px;
   float: left;
   background-color: #fcfcf0;
}

/*----------------네비게이션 css-------------------*/
.helpCenterIndexNavi {
   width: 100%;
   height: 37px;
   background-color: #e3e3da;
}

.helpCenterIndexNavi a {
   color: black;
   text-decoration: none;
   display: block;
}

.helpCenterIndexMenuDiv {
   width: 1052px;
   height: 37px;
   margin: 0 auto;
}

.helpCenterIndexImageDiv {
   float: left;
   width: 20px;
   height: 18px;
   margin-top: 11px;
}

.helpCenterIndexImageDiv img {
   width: 17px;
   height: 15px;
}

.helpCenterIndexNaviSecondDiv {
   float: left;
   width: 120px;
   height: 22px;
   margin-top: 10px;
   margin-left: 15px;
   font-size: 13px;
}

.helpCenterIndexNaviThirdDiv {
   float: left;
   width: 185px;
   height: 22px;
   margin-top: 10px;
   font-size: 13px;
}


/*--------------------- 첫번째 div 부분 ---------------------*/
.moviePickerTotalWrapper{
   width: 1052px;
   height: auto;
   margin: 0 auto;
   
}

.myCgvProfileContentsDiv{
   width: 1052px;
   height: 400px;
   position: relative;
}

.myCgvProfileContentsDivImg{
   width: 1052px;
   height: 400px;
   position: absolute;
}

.myCgvProfileFirstContents{
   width: 970px;
   height: 150px;
   position: absolute;
   margin-left: 40px;
   margin-top: 40px;
}

.profileImageContents {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 100px;
}

   .profileImageContents img{
      width: 130px;
      height: 130px;
    border-radius: 50%;
   }

.secondMyCgvProfileRealContents{
   width: 700px;
   height: 150px;
   float: left;
}

.profileNameDiv{
   width: 700px;
   height: 75px;
}

.firstNameDiv {
    width: 216px;
    height: 75px;
    float: left;
    text-align: center;
}

.secondNameDiv {
    width: 130px;
    height: 75px;
    float: left;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
}

.thirdNameDiv {
    width: 60px;
    height: 75px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.fourthNameDiv {
    width: 170px;
    height: 75px;
    float: left;
    text-align: center;
    margin-top: 5px;
}

.fifthNameDiv{
   width: 30px;
   height: 30px;
   float: left;
   margin-left: 5px;
   margin-top: 20px;   
}

   .fifthNameDiv img{
      width: 25px;
      height: 25px;
   }

.profileGradeDiv{
   width: 500px;
   height: 50px;
   margin-left: 15px;
}

.memberShipContentsDiv{
   width: 200px;
   height: 200px;
   float: left;
}

/* ----------------------두번째 div부분--------------------*/


.myCgvProfileSecondContents {
	width: 970px;
	height: 165px;
	position: absolute;
	margin-top: 200px;
	margin-left: 40px;
}

/* myCgvCouponDiv 부분*/
.myCgvCouponDiv{
   width: 450px;
   height: 165px;
   float: left;
   margin-left: 30px;
}

.couponLabelDiv{
   width: 340px;
   height: 65px;
   margin-left: 60px;
}

.couponLabelDiv img{
   width: 280px;
   height: 38px;
   margin-left: 20px;
}

.couponContentDiv{
   width: 450px;
   height: 100px;   
}

.movieTicketLabel{
   width: 150px;
   height: 70px;
   float: left;
   margin-left: 63px;
}

.movieTicketCount{
   width: 70px;
   height: 25px;
   float: left;
   margin-top: 20px;
   margin-left: 120px;
}
/* myCgvOnePointDiv 부분 */

.myCgvOnePointDiv{
   width: 450px;
   height: 165px;
   float: left;
   margin-left: 25px;
}

.onePointLabelDiv{
   width: 340px;
   height: 65px;
   margin-left: 50px;
}

.onePointLabelDiv img{
   width: 340px;
   height: auto;
}

.onePointContentsDiv{
   width: 450px;
   height: 110px;
}

.possiblePoint{
   width: 430px;
   height: 50px;
   margin-left: 30px;
}

.possiblePointLabel{
   width: 200px;
   height: 50px;
   float: left;
}

.possiblePointValue{
   width: 100px;
   height: 50px;
   float: left;
   margin-left: 100px;
}

.vipCheckPoint{
   width: 430px;
   height: 50px;
   margin-left: 30px;
}

.vipCheckPointLabel{
   width: 200px;
   height: 50px;
   float: left;
}

.vipCheckPointValue{
   width: 100px;
   height: 50px;
   float: left;
   margin-left: 100px;
}

/* 2번째 Wrapper를 감싸고있는 bothDivWrapper*/
.bothDivWrapper{
   width: 1052px;
   height: auto;
}

.leftDiv{
   width: 160px;
   height: 344px;
   float: left;
   margin-top: 20px;   
}

   .leftDiv ul{
      margin: 0px;
      padding: 0px;
   }
   

   .mvHome{
      width: 160px;
      height: 35px;
      background-color: #232323;
      color: white;
      font-size: 24px;
      text-align: center;
   }
   
   /*클릭하지않은 링크*/
   .mvHome a:link {
      color: white;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .mvHome a:visited {
      color: white;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .mvHome a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }

   
   .myReservation{
      margin-top: 18px;
   }
   
   /*클릭하지않은 링크*/
   .myReservation a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .myReservation a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .myReservation a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
   
   .discountCoupon{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .discountCoupon a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .discountCoupon a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .discountCoupon a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
   
   
   .mvPoint{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .mvPoint a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .mvPoint a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .mvPoint a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
   .clientInfo{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .clientInfo a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .clientInfo a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .clientInfo a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
      .inLineUlDivFirst{
         width: 115px;
         height: auto;
         margin-left: 20px;
         margin-top: 10px;
         font-size: 13px;
      }
   
   .editProfile{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .editProfile a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .editProfile a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .editProfile a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
   .myInquiryList{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .myInquiryList a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .myInquiryList a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .myInquiryList a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
   .watchMovieList{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .watchMovieList a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .watchMovieList a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .watchMovieList a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
.centerDiv{
   width: 892px;
   height: 344px;
   float: left;
}


/* 센터 DIV 컨텐츠 */
.myInquiryQnAWrapper {
   width: 805px;
   height: auto;
   float: left;
   margin-top: 6px;
   margin-left: 60px;
}

.myInquiryQnaLabel {
   width: 805px;
   height: 30px;
}

.myInquiryLabel {
   width: 805px;
   height: 30px;
}

p.delect-Qna {
    text-align:  right;
}

/* 테이블 */
.table-area th {
    background-color: #e2e2e0;
}
.table-area a {
    color: black;
}

/* 페이징 처리 */
.paging {
    text-align: center;
   align-content: center;
   margin-top: 15px;
}
.paging a {
   font-weight: bold;
   color: black;
}

.paging a:hover {
   text-decoration: underline;
   color: #ecac1e;
}

/* 자주찾는질문과 일대일문의로 넘어가는 box */

.box-Qna {
    background-color: #f2f0e5;
    border:  1px solid;
    float: left;
    width: 402.5px;
    height: 130px;
}

span.qusetion_img img {
    width:  60px;
    height: 60px;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 20px;
    float:  left;
}

p.question_p {
    margin-top: 30px;
    margin-bottom: 7px;
}

span.question_span {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.box-Qna input[type=button] {
    margin-left: 8px;
}

.box-Email {
      background-color: #f2f0e5;
      border: 1px solid;
      width: 402.5px;
      float: left;
      height: 130px;
}

span.support_img img {
    width:  60px;
    height: 60px;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 20px;
    float:  left;
}

p.support_p {
    margin-top: 30px;
    margin-bottom: 7px;
}

span.support_span {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.box-Email input[type=button] {
    margin-left: 8px;
}

.wrap-box {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 130px;
    box-sizing:  border-box;
}