@charset "UTF-8";

#bodyWrapper{
   width:100%;
   height: auto;
   float: left;
   background-color: #fcfcf0;
}

/*----------------네비게이션 css-------------------*/
.helpCenterIndexNavi {
   width: 100%;
   height: 37px;
   background-color: #e3e3da;
}

.helpCenterIndexNavi a {
   color: black;
   text-decoration: none;
   display: block;
}

.helpCenterIndexMenuDiv {
   width: 1052px;
   height: 37px;
   margin: 0 auto;
}

.helpCenterIndexImageDiv {
   float: left;
   width: 20px;
   height: 18px;
   margin-top: 11px;
}

.helpCenterIndexImageDiv img {
   width: 17px;
   height: 15px;
}

.helpCenterIndexNaviSecondDiv {
   float: left;
   width: 120px;
   height: 22px;
   margin-top: 10px;
   margin-left: 15px;
   font-size: 13px;
}

.helpCenterIndexNaviThirdDiv {
   float: left;
   width: 185px;
   height: 22px;
   margin-top: 10px;
   font-size: 13px;
}

/* 2번째 Wrapper를 감싸고있는 bothDivWrapper*/
.bothDivWrapper{
   width: 1052px;
   height: 1450px;
   margin: 0 auto;
}

.leftDiv{
   width:160px;
   height:344px;
   float: left;
   margin-top:30px;
   
}

.left_1stBox {
   width:160px;
   height:180px;
   border: 1px solid #282828;
   border-radius: 3px;
}

.firstline_profile {
   width: 120px;
    height: auto;
    margin-left: 20px;
    margin-top: 5px;
}

.firstline_username {
   text-align: center;
    width: 160px;
    float: left;
    margin-top: 20px;
    font-weight: bold;
}

.firstline_modifyProfile {
   width:20px;
   height:auto;
   margin-top: 20px;
   float:left;
}

.left_2ndBox {
   width:160px;
   height:65px;
   border: 1px solid #282828;
   border-radius: 3px;
   margin-top:10px;
   cursor: pointer;
}

.left_3rdBox {
   width:160px;
   height:65px;
   background-color: #282828;
   border: 1px solid #282828;
   border-radius: 3px;
   margin-top:10px;
   cursor: pointer;
}


.firstline_wishNum {
   text-align: center;
    font-size: 25px;
    margin-top: 5px;
    font-weight: bold;
}

.firstline_movielogNum {
   text-align: center;
    font-size: 25px;
    margin-top: 5px;
    color: #f9ac1e;
    font-weight: bold;
}

.firstline_wishtext {
   text-align:center;
   font-size: 12px;
}

.firstline_movieLogtext {
   text-align:center;
   font-size: 12px;
   color:white;
}

/* ------------새로 콘텐츠가 추가되는 부분---------------------- */
   
.centerDiv{
   width: 892px;
   height: 344px;
   float: left;
}

/* ------------영화포스터 한 단---------------------- */
.movielog_title {
   width:880px;
   margin-top:30px;
   margin-left:80px;
   font-size: 30px;
   font-weight: bold;
   margin-bottom:5px;
}

.movieBox_wrapper {
   width: 890px;
    height: 230px;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.movielog_movieList {
   width:800px;
   height: 230px;
   float:left;
   margin-left:80px;
}

.delete_movielog {
   width:30px;
   height:230px;
   float: left;
}

.deleteBtn {
   width:30px;
   height:30px;
}

.movieNum {
   font-size: 13px;
}

.movielog_movieList_poster {
   width:150px;
   height:221px;
   background-color: pink;
   margin-right:30px;
   float:left;
}

.movieList_poster {
   width:150px;
   height:221px;
   position:relative;
}

.movielog_movieList_detail {
   width:615px;
   height:221px;
   float:left;
}

.movielog_movieList_detail_movieNameKr {
   font-size: 30px;
   font-weight: bold;
}

.movielog_movieList_detail_movieNameEn {
   font-size:13px;
   font-weight: bold;
   color:#5b4d0f;
   margin-top:3px;
   margin-bottom:30px;
}

.movielog_movieList_detail_time {
   font-size:13px;
   margin-bottom:10px;
}

.movielog_movieList_detail_place {
   font-size:13px;
   margin-bottom:10px;
}

.movielog_movieList_detail_people {
   font-size:13px;
   margin-bottom:25px;
}

.movielog_movieList_detail_evaluate {
   font-size:13px;
   float:left;
}

.evaluate_image {
   width:500px;
}

.evaluate_realimage {
   width:25px;
   height:auto;
   float: left;
}

.evaluate_text {
   width:100px;
   margin-top:5px;
   font-weight: bold;
}

.grade_image {
   position:absolute;
}


/*-------------Bar */
.movielog_bar {
   width:800px;
   height:5px;
   border-bottom: 1px solid #282828;
   margin-left:80px;
   margin-bottom: 10px;
   float:left;
}

/*-------------Paging */

.movielog_paging {
   width:890px;
   height:300px;
   margin-top:30px;
   margin-left:30px;
   text-align: center;
   float: left;
}

.movielog_wrapper {
   width:890px;
   height:auto;
}