@charset "UTF-8";

#bodyWrapper{
   width: 100%;
   height: 1350px;
   float: left;
   background-color: #fcfcf0;
}

/*----------------navi css-------------------*/
.ticketPaymentCompleteNavi {
   width: 100%;
   height: 37px;
   background-color: #e3e3da;
}

.ticketPaymentCompleteNavi a {
   color: black;
   text-decoration: none;
   display: block;
}

.ticketPaymentCompleteMenuDiv {
   width: 1052px;
   height: 37px;
   margin: 0 auto;
}

.ticketPaymentCompleteImageDiv {
   float: left;
   width: 20px;
   height: 18px;
   margin-top: 11px;
}

.helpCenterIndexImageDiv img {
   width: 17px;
   height: 15px;
}

.ticketPaymentCompleteNaviSecondDiv {
   float: left;
   width: 115px;
   height: 22px;
   margin-top: 10px;
   margin-left: 5px;
   font-size: 13px;
}

.ticketPaymentCompleteNaviThirdDiv {
   float: left;
   width: 105px;
   height: 22px;
   margin-top: 10px;
   font-size: 13px;
}

.ticketPaymentCompleteNaviFourthDiv{
   float: left;
   width: 78px;
   height: 22px;
   margin-top: 10px;
   font-size: 13px;
}



/*--------------------- 첫번째 div 부분 ---------------------*/
.moviePickerTotalWrapper{
   width: 1052px;
   height: auto;
   margin: 0 auto;
   
}

.myCgvProfileContentsDiv{
   width: 1052px;
   height: 400px;
   position: relative;
}

.myCgvProfileContentsDivImg{
   width: 1052px;
   height: 400px;
   position: absolute;
}

.myCgvProfileFirstContents{
   width: 970px;
   height: 150px;
   position: absolute;
   margin-left: 40px;
   margin-top: 40px;
}

.profileImageContents{
   width: 150px;
   height: 150px;
   float: left;
   margin-left: 100px;
}

   .profileImageContents img{
      width: 130px;
      height: 130px;
   }

.secondMyCgvProfileRealContents{
   width: 700px;
   height: 150px;
   float: left;
}

.profileNameDiv{
   width: 700px;
   height: 75px;
}

.firstNameDiv{
   width: 130px;
   height: 75px;
   float: left;
   text-align: center;   
}

.secondNameDiv{
   width: 185px;
   height: 75px;
   float: left;
   text-align: center;   
   margin-top: 5px;   
}

.thirdNameDiv{
   width: 70px;
   height: 75px;
   float: left;
   margin-top: 5px;      
}

.fourthNameDiv{
   width: 175px;
   height: 75px;
   float: left;
   text-align: center;   
   margin-top: 5px;      
}

.fifthNameDiv{
   width: 30px;
   height: 30px;
   float: left;
   margin-left: 5px;
   margin-top: 20px;   
}

   .fifthNameDiv img{
      width: 25px;
      height: 25px;
   }

.profileGradeDiv{
   width: 500px;
   height: 50px;
   margin-left: 15px;
}

.memberShipContentsDiv{
   width: 200px;
   height: 200px;
   float: left;
}

/* ----------------------두번째 div부분--------------------*/


.myCgvProfileSecondContents{
   width: 970px;
   height: 165px;
   position: absolute;
   margin-top: 200px;
   margin-left: 40px;
}

/* myCgvCouponDiv 부분*/

.myCgvCouponDiv{
   width: 450px;
   height: 165px;
   float: left;
   margin-left: 30px;
}

.couponLabelDiv{
   width: 340px;
   height: 65px;
   margin-left: 60px;
}

.couponLabelDiv img{
   width: 280px;
   height: 38px;
   margin-left: 20px;
}

.couponContentDiv{
   width: 450px;
   height: 100px;   
}

.movieTicketLabel{
   width: 150px;
   height: 70px;
   float: left;
   margin-left: 63px;
}

.movieTicketCount{
   width: 70px;
   height: 25px;
   float: left;
   margin-top: 20px;
   margin-left: 120px;
}
/* myCgvOnePointDiv 부분 */

.myCgvOnePointDiv{
   width: 450px;
   height: 165px;
   float: left;
   margin-left: 25px;
}

.onePointLabelDiv{
   width: 340px;
   height: 65px;
   margin-left: 50px;
}

.onePointLabelDiv img{
   width: 340px;
   height: auto;
}

.onePointContentsDiv{
   width: 450px;
   height: 110px;
}

.possiblePoint{
   width: 430px;
   height: 50px;
   margin-left: 30px;
}

.possiblePointLabel{
   width: 200px;
   height: 50px;
   float: left;
}

.possiblePointValue{
   width: 100px;
   height: 50px;
   float: left;
   margin-left: 100px;
}

.vipCheckPoint{
   width: 430px;
   height: 50px;
   margin-left: 30px;
}

.vipCheckPointLabel{
   width: 200px;
   height: 50px;
   float: left;
}

.vipCheckPointValue{
   width: 100px;
   height: 50px;
   float: left;
   margin-left: 100px;
}

/* 2번째 Wrapper를 감싸고있는 bothDivWrapper*/
.bothDivWrapper{
   width: 1052px;
   height: auto;
}

.leftDiv{
   width: 160px;
   height: 344px;
   float: left;
   margin-top: 20px;   
}

   .leftDiv ul{
      margin: 0px;
      padding: 0px;
   }
   

   .mvHome{
      width: 160px;
      height: 35px;
      background-color: #232323;
      color: white;
      font-size: 24px;
      text-align: center;
   }
   
   /*클릭하지않은 링크*/
   .mvHome a:link {
      color: white;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .mvHome a:visited {
      color: white;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .mvHome a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }

   
   .myReservation{
      margin-top: 18px;
   }
   
   /*클릭하지않은 링크*/
   .myReservation a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .myReservation a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .myReservation a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
   
   .discountCoupon{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .discountCoupon a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .discountCoupon a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .discountCoupon a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
   
   
   .mvPoint{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .mvPoint a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .mvPoint a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .mvPoint a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
   .clientInfo{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .clientInfo a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .clientInfo a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .clientInfo a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
      .inLineUlDivFirst{
         width: 115px;
         height: auto;
         margin-left: 20px;
         margin-top: 10px;
         font-size: 13px;
      }
   
   .editProfile{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .editProfile a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .editProfile a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .editProfile a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
   .myInquiryList{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .myInquiryList a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .myInquiryList a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .myInquiryList a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
   .watchMovieList{
      margin-top: 18px;
   }
   
      /*클릭하지않은 링크*/
   .watchMovieList a:link {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*한번 클릭했거나 다녀간 링크*/
   .watchMovieList a:visited {
      color: #232323;
   /*    text-decoration: none; */
   }
   
   /*링크클릭하려고 마우스 가져다댈때*/
   .watchMovieList a:hover {
      color: #f9ac1e;
      text-decoration: underline;
      cursor: pointer;
   }
   
.centerDiv{
   width: 892px;
   height: auto;
   float: left;
}

.firstDetailDiv{
      width: 800px;
      height: 170px;
      float: left;
      margin-left: 65px;
      margin-top: 20px;
      border: 1px solid black;
      
   }
   
      .wishListDiv{
         width: 260px;
         height: 150px;
         float: left;
         margin-top: 10px;
         border-right: 1px solid #282828;
      }
      
         .wishListDiv ul{
            margin: 0px;
            padding: 0px;
         }
      
         .wishListImage{
            width: 150px;
            height: 30px;
            margin-left: 48px;
         }
         
         .wishListLabel{
            width: 150px;
            height: 25px;
            text-align: center;
            margin-left: 50px;
         }
         
         .wishListContents{
            width: 200px;
            height: 65px;
            margin-top: 20px;
            text-align: center;
            margin-left: 30px;
         }
      
      
      
      .seeTheMovieDiv{
         width: 260px;
         height: 150px;
         float: left;
         margin-top: 10px;
         border-right: 1px solid #282828;
      }
      
         .seeTheMovieDiv ul{
            margin: 0px;
            padding: 0px;
         }
      
         .seeTheMovieImage{
            width: 150px;
            height: 30px;
            margin-left: 50px;
         }
         
         .seeTheMovieLabel{
            width: 150px;
            height: 25px;
            text-align: center;
            margin-left: 50px;
         }
         
         .seeTheMovieContents{
            width: 200px;
            height: 65px;
            margin-top: 20px;
            text-align: center;
            margin-left: 30px;
         }
      
      .watchMovieDiv{
         width: 260px;
         height: 150px;
         float: left;
         margin-top: 10px;
         margin-left: 10px;
      }
      
         .watchMovieDiv ul{
            margin: 0px;
            padding: 0px;
         }
      
         .watchMovieImage{
            width: 150px;
            height: 30px;
            margin-left: 50px;
         }
         
         .watchMovieLabel{
            width: 150px;
            height: 25px;
            text-align: center;
            margin-left: 50px;
         }
         
         .watchMovieContents{
            width: 200px;
            height: 65px;
            margin-top: 20px;
            text-align: center;
            margin-left: 30px;   
         }
         
      /* ------------------------------- paymentCompleteBody */
.paymentCompleteBody {
   width: 805px;
   height: auto;
   float: left;
   padding-bottom: 65px;
   margin-left: 63px;
   margin-top: 25px;
}

.paymentCompleteBody .paymentCompleteBody-title {
   width: 260px;
   height: 35px;
   background: none;
   text-align: center;
   margin-left: 266px;
}

/* ------------------------------- paymentCompleteBody - paymentCompleteBody-movieInfo */
.paymentCompleteBody-movieInfoWrapper {
   width: 732px;
   height: auto;
   float: left;
   margin-left: 85px;
   margin-top: 20px;
}

.paymentCompleteBody .paymentCompleteBody-movieInfoWrapper .poster {
   width: 300px;
   height: 378px;
   float: left;
   margin-right: 20px;
   margin-top: 23px;
}
.paymentCompleteBody .paymentCompleteBody-movieInfoWrapper .poster img {
   width: 300px;
   height: 378px;
}

/* -------- paymentCompleteBody-movieInfo ---------- */
.paymentCompleteBody-movieInfo {
   width: 340px;
   height: 400px;
   float: left;
   margin-left: 15px;
}

/* --- movieReservationNumWrapper ----- */
.movieReservationNumWrapper{
   width: 350px;
   height: 45px;
   float: left;
}

.ticketMovieCodeLabel{
   width: 100px;
   height: 45px;
   float: left;
}

.ticketMovieCode{
   width: 230px;
   height: 25px;
   float: left;
   margin-top: 21px;
   margin-left: 15px;
   font-size: 14px;
}   

.movieNameWrapper{
   width: 350px;
   height: 45px;
   float: left;
}

.ticketMovieTitleLabel{
   width: 100px;
   height: 45px;
   float: left;
}

.ticketMovieTitle{
   width: 230px;
   height: 25px;
   float: left;
   margin-top: 22px;
   margin-left: 15px;
   font-size: 14px;
}

.movieGradeWrapper{
   width: 350px;
   height: 45px;
   float: left;
}

.ticketMovieGradeLabel{
   width: 100px;
   height: 45px;
   float: left;
}

.ticketMovieGrade{
   width: 230px;
   height: 25px;
   float: left;
   margin-top: 22px;
   margin-left: 15px;
   font-size: 14px;
}

.moviePlaceWrapper{
   width: 350px;
   height: 45px;
   float: left;
}

.ticketMoviePlaceLabel{
   width: 100px;
   height: 45px;
   float: left;
}

.ticketMoviePlace{
   width: 230px;
   height: 25px;
   float: left;
   margin-top: 22px;
   margin-left: 15px;
   font-size: 14px;
}

.movieDateWrapper{
   width: 350px;
   height: 45px;
   float: left;
}

.ticketMovieDateLabel{
   width: 100px;
   height: 45px;
   float: left;
}

.ticketMovieDate{
   width: 230px;
   height: 25px;
   float: left;
   margin-top: 22px;
   margin-left: 15px;
   font-size: 14px;
}

.moviePeopleWrapper{
   width: 350px;
   height: 45px;
   float: left;
}

.ticketMoviePeopleLabel{
   width: 100px;
   height: 45px;
   float: left;
}

.ticketMoviePeople{
   width: 230px;
   height: 25px;
   float: left;
   margin-top: 22px;
   margin-left: 15px;
   font-size: 14px;
}

.movieSeatWrapper{
   width: 350px;
   height: 45px;
   float: left;
}
.ticketMovieSeatLabel{
   width: 100px;
   height: 45px;
   float: left;
}

.ticketMovieSeat{
   width: 230px;
   height: 25px;
   float: left;
   margin-top: 21px;
   margin-left: 15px;
   font-size: 14px;
}

.moviePriceWrapper{
   width: 350px;
   height: 45px;
   float: left;
}

.ticketMoviePriceLabel{
   width: 100px;
   height: 45px;
   float: left;
}

.ticketMoviePrice{
   width: 150px;
   height: 25px;
   float: left;
   margin-top: 21px;
   margin-left: 15px;
   font-size: 14px;
}

.pointPlusedWrapper{
   width: 350px;
   height: 45px;
   float: left;
}

.pointPlusedLabel{
   width: 95px;
   height: 45px;
   float: left;
}

.pointPlused{
   width: 210px;
   height: 25px;
   float: left;
   margin-left: 20px;
   margin-top: 21px;
   font-size: 14px;
}




