@charset "UTF-8";




.reviewWrapper {
   width: 1052px;
   margin: 0 auto;
}







/* ------------bar-------*/
.movieDetail_bar {
   width: 1052px;
   height: 40px;
}

.bar_yellow {
   width: 10px;
   height: 40px;
   background-color: #f9ac1e;
   float: left;
   color: black;
   line-height: 40px;
}


.bar_black {
   width: 1042px;
    height: 40px;
    background-color: #282828;
    float: left;
    color: white;
    line-height: 40px;
}

.bar_black1 {
   width: 286px;
    height: 40px;
    background-color: #282828;
    float: left;
    color: white;
    line-height: 40px;
}

.bar_black2 {
   width: 541px;
    height: 40px;
    background-color: #282828;
    float: left;
    color: white;
    line-height: 40px;
    font-size: 13px;
    text-align: right;
}

.bar_black3 {
   width: 215px;
    height: 40px;
    background-color: #282828;
    float: left;
    color: white;
    line-height: 40px;
}

.writeGradeButton {
   width: 90px;
   height: 25px;
   font-size: 15px;
   background-color: #ed5021;
   color: white;
   border-radius: 8px;
   border: 0;
   outline: none;
   font-weight: bold;
   margin-top: 2px;
   cursor: pointer;
}

.myGradeButton {
   width: 90px;
   height: 25px;
   font-size: 15px;
   background-color: #7e7f82;
   color: white;
   border-radius: 8px;
   outline: none;
   border: 0;
   font-weight: bold;
   margin-top: 2px;
   cursor: pointer;
}

/* ----Golden egg & Point Chart    */
#moviePoint_chart {
   box-sizing: border-box;
   border-top:1px solid #282828;
   border-bottom:1px solid #282828;
   width: 1052px;
   height: 202px;
   margin-top: 20px;
}

.moviePoint_body {
   width: 1052px;
   height: 200px;
   box-sizing: border-box;
}

.moviePoint_body_left {
   width: 800px;
   height: 200px;
   float: left;
}

.moviePoint_body_left_header {
   width: 850px;
   height: 20px;
   font-size: 12px;
}

.body_left_bottom {
   width: 852px;
   height: 150px;
}

.body_left_bottom_1 {
   width: 200px;
   height: 150px;
   float: left;
}

.egg_image {
   width: 80px;
    height: auto;
    margin-left: 110px;
    margin-top: 40px;
}

.body_left_bottom_2 {
   width: 100px;
    height: 100px;
    float: left;
    margin-top: 59px;
    font-weight: bold;
}

.body_left_bottom_2_text {
   width: 100px;
    height: 100px;
    font-size: 42px;   
}

.body_left_bottom_3 {
   width: 500px;
    height: 150px;
    float: left;
    margin-top: 60px;
    text-align: center;
}

.moviePoint_graph {
   width: 200px;
   height: 200px;
   float: left;
   background-color: #fcfcf0;
}

.body_left_bottom_3_text1 {
   font-size: 30px;
}

.body_left_bottom_3_text2 {
   font-size: 20px;
}

.body_left_bottom_3_text3 {
   font-size: 15px;
}

/* ------------User's reviews-------*/
#moviePoint_reviews {
   width: 1052px;
   height: 50px;
   margin-top: 11px;
   margin-left: 7px;
}

.moviePoint_review_box {
   background-image : url(../../image/movies/reviewForm.png);
   box-sizing: border-box;
   width: 520px;
   height: 220px;
   float: left;
   margin: 1px;
}

.moviePoint_reviewDetail {
   box-sizing: border-box;
   width: 475px;
   height: 215px;
   float: left;
}

.moviePoint_declare_icon {
   box-sizing: border-box;
   width: 40px;
   height: 215px;
   float: left;
   margin-left: -7px;
}

.moviePoint_profileImg {
   box-sizing: border-box;
   width: 70px;
   height: 70px;
}

.moviePoint_eggOrFry_N_profileImg {
    margin-left: 180px;
    position: relative;
}

.profile {
   box-sizing: border-box;
    width: 70px;
    height: auto;
    margin-top: 5px;
    margin-left: 50px;
}

.egg_stamp {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 5px;
    position: absolute;
    margin-left: 42px;
}

.moviePoint_reviewerID {
   width: 485px;
    height: 25px;
    margin-top: 5px;
    margin-left: 19px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #282828;
}

.moviePoint_reviewer_Comment {
   box-sizing: border-box;
    width: 449px;
    height: 80px;
    font-size: 12px;
    padding-left: 86px;
    padding-right: 10px;
    color: #282828;
    text-align: center;
}

.moviePoint_dateAndLikeit {
   box-sizing: border-box;
    width: 200px;
    height: 30px;
    font-size: 14px;
    margin-left: 181px;
}

.moviePoint_reviewer_enrollDate {
   box-sizing: border-box;
    width: 86px;
    height: 20px;
    float: left;
    font-size: 12px;
    color: #282828;
    margin-left: 60px;
}

.moviePoint_review_Likeit {
    box-sizing: border-box;
    width: 38px;
    height: 30px;
    float: left;
}

.declare_icon {
   box-sizing: border-box;
   widht: 40x;
   height: 30px;
   float: left;
   margin-left: 14px;
   margin-top: 5px;
}

.likeit_icon {
    box-sizing: border-box;
    height: 30px;
    float: left;
    margin-top: -10px;
}

.moviePoint_review_LikeitNum {
   widht: 40px;
   height: 40px;
   font-size: 12px;
   color: #282828;
}

#myChart {
   background-color: #fcfcf0;
}


.moviePoint_review_navigator_wrapper {
    width: 1052px;
    height: 30px;
    
    float:left;
    margin-top: 50px;
    margin-bottom: 50px;
}


.moviePoint_review_navigator {
   width: 650px;
    height: 25px;
 	margin-left: 180px;
 	background-color: white;
 	text-align: center;   
}

.moviePoint_review_navigator a:link{
	color: #282828; text-decoration: none;
}
.moviePoint_review_navigator a:visited{
	color: #f9ac1e; text-decoration: none;
}
.moviePoint_review_navigator a:hover{
	color: #282828; text-decoration: underline;
}


.movieDetail_stealCut {
   width:1052px;
   height:400px;
}
.dropbtnreview {
	padding : 0;
	width:40px;
	height:50px;
	background:url("../image/movies/seeMoreIcon.png") no-repeat;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdownreview {
   width: 40px;
   height: 215px;
    position: relative;
    display: inline-block;
}

.dropdown-contentreview{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 110px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -110px;
    margin-top: -51px;
}

.dropdown-contentreview a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.gradeModifyButton{
   width: 110px;
   height: 40px;
   border-radius: 6px;
   outline: none;
   background-color: #282828;
   color: white;
   text-align: center;
   font-size: 18px;
   margin: 0;
   padding: 0;
   cursor: pointer;
}

.gradeDeleteButton{
   width: 107px;
    height: 35;
    border: 6px;
    outline: none;
    background-color: #282828;
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-left:2px;
    cursor: pointer;
}