@charset "EUC-KR";

div{
	
	box-sizing: border-box;
	margin:0 auto;
	text-align: center;
	align-content: center;
}
#wrapper{
	width:600px;
	height: 200px;
}
#head{
	width:100%;
	height: 20%;
}
#loginform {
	width: 100%;
	height: 80%;
}

#login {
	float: left;
	width: 70%;
	height: 100%;
}

#login input {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

#login .loginId {
	width: 100%;
	height: 50%;
}

#login .loginPw {
	width: 100%;
	height: 50%;
}

#button {
	float: left;
	width: 30%;
	height: 100%;
}

#button input {
	width: 100%;
	height: 100%;
}
#home {
	text-align: center;
	width: 1500px;
	height: 700px;
}

#head {
	height: 20%;
}

#head .head1 {
	float: left;
	width: 20%;
	height: 99px;
}

#head .head2 {
	float: left;
	width: 60%;
	height: 99px;
}

#head .head3 {
	float: left;
	width: 20%;
	height: 99px;
	
}

#menu {
	height: 10%;
}

html {
	background:#efefef;
  }

  body {
	margin:0;
	padding:0;
	color:#222;
	font:13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  ul {
	position:absolute;
	left:0;
	right:0;
	top:0;
	height:30px;
	background:#959DA5;
	border-bottom:1px solid #333;
	margin:0;
	padding:10px 16px 0;
	list-style:none;
  }

  ul li {
	float:left;
	margin:0 20px 0 0;
	position:relative;
	padding:0;
  }

  ul a {
	display:block;
	color:#fff;
	text-decoration:none;
	padding:0 15px;
	line-height:29px;
	height:29px;
	font-weight:bold;
	background:#464646;
	border:1px solid #333;
	border-bottom:none;
	-webkit-background-clip: padding-box;
	-webkit-font-smoothing:antialiased;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius:8px 8px 0 0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	text-shadow:#000 0 -1px 0;
	position:relative;
  }

  ul li:before, ul li:after {
	content:'';
	width:9px;
	height:8px;
	position:absolute;
	z-index:2;
	bottom:0;
	background:#464646;
  }

  ul li:before {
	left:-8px;
  }

  ul li:after {
	right:-8px;
  }

  ul a:before, ul a:after {
	content:'';
	width:10px;
	height:8px;
	position:absolute;
	z-index:3;
	bottom:-1px;
	background:#959DA5;
	overflow:hidden;
	border-bottom:1px solid #333;
	-webkit-background-clip: padding-box;

  }

  ul a:before {
	left:-11px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-right:1px solid #222;
  }

  ul a:after {
	right:-11px;
	border-bottom-left-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-left:1px solid #222;
  }

  ul li.current a {
	background:#efefef;
	color:#222;
	height:30px;
	text-shadow:#fff 0 1px 0;
	-webkit-background-clip: padding-box;
  }

  ul li.current a:before, ul li.current a:after {
	bottom:0;
  }

  ul li.current:before, ul li.current:after {
	background:#efefef;
	bottom:0;
	-webkit-background-clip: padding-box;
  }



  /* This style is only for the article link, and not part of the demo. */
  div.article_link {
	position:absolute;
	top:40px;
	padding:30px;
  }

  div.article_link a {
	color:#693;
	font-weight:bold;
	-webkit-font-smoothing:antialiased;
  }

#body {
	height: 60%
}

#body .body1 {
	float: left;
	width: 20%;
	height: 100%;
}

#body .body2 {
	float: left;
	width: 65%;
	height: 100%;
}

#regitform{
	width: 300px;
	height: 150px;
}
#categoryregit{
	width:100%;
	height:80%;
}
#categoryregit .categoryregitname{
	width: 100%;
	height: 50%;
}
#categoryregit .categoryregitcode{
	width: 100%;
	height: 50%;
}
#categoryregit input{
	float:left;
	width: 100%;
	height: 100%;
}
#categorybutton{
	width: 100%;
	height: 20%;
}
#categorybutton input{
	width:50%;
	height:100%;
}
#body3 {
	float: left;
	width: 15%;
	height: 100%;
}

#loginwrapper {
	margin: 0px auto;
	width: 100%;
	height: 100px;
}

#loginform {
	width: 100%;
	height: 72%;
}

#login {
	float: left;
	width: 70%;
	height: 100%;
}

#login input {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

#login .loginId {
	width: 100%;
	height: 50%;
}

#login .loginPw {
	width: 100%;
	height: 50%;
}

#button {
	float: left;
	width: 30%;
	height: 100%;
}

#button input {
	margin: 3px;
	width: 90%;
	height: 90%;
}

#regit {
	float: left;
	width: 100%;
	height: 28%;
	clear: none;
}

#regit a {
	color: white;
	width: 100%;
	height: 28%;
	text-decoration: none;
}

#tail {
	height: 10%;
}

/* 여기까지 위 메뉴 일반  */
/* 밑에는 테이블 스타일 */

a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
a:visited {
	color: #666;
	font-weight:bold;
	text-decoration:none;
}
a:active,
a:hover {
	color: #bd5a35;
	text-decoration:underline;
}


table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child{
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr{
	text-align: center;
	padding-left:20px;
}
table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table tr td {
	padding:12px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td{
	border-bottom:0;
}
table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
#categoryregit{
	padding: 0 auto;
	border-color: inherit;
	display: block;
}

